<div class="footer">
  <mat-card style="background-color: brown; color: white" height="200px">
    <p style="font-size: 15px">
      Street: c/12,Dolphin,Naroda <br />City: Ahmedabad<br />
      State: Gujarat<br />
      Phone number 1231234561 <br />Zip code: 382330 Country India
    </p>
  </mat-card>
  <mat-divider
    [vertical]="true"
    style="background-color: greenyellow"
  ></mat-divider>
  <mat-card
    style="background-color: brown; color: white; width: 100%"
    height="200px"
  >
    <p style="padding-top: 150px; text-align: center">
      © 2021-2022 -SS WEB. All Rights Reserved. The certification names are the
      trademarks of their respective owners.
    </p>
  </mat-card>
</div>
