.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  border-style: solid;
  border-color: brown;
}

.example-full-width {
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
}

.loginbtn {
  background-color: brown;
  color: white;
  width: 90%;
  margin-top: 40px;
  margin-bottom: 10px;
  /* padding-left: 50%;
  padding-right: 50%; */
  /* text-align: center; */
  justify-self: center;
}
.logindiv {
  margin-top: 80px;
  justify-content: center;
  display: flex;
  margin-bottom: 10%;
}
.validation {
  color: red;
}
.avatar {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin-bottom: 10px;

  display: block;
  margin-left: auto;
  margin-right: auto;

  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}
